* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}



.column-left {
    flex: 1;
    min-width: auto;
}

.column-right {
    flex: 1;
    min-width: auto;
}