* {
    box-sizing: border-box;
} 

:root {
    font-family: monospace;
    color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 40, 50);
    height: 100vh;
}

.container {
    display: flex;
    border-radius: 12px;
    background-color: #003249;
}

.column-left {
    display: flex;
    
}

img {
    flex: 1;
    border-radius: 12px;
}



.column{
    flex: 1;
    min-width: auto;
}

.column-right {
    margin: 40px 50px;
}

.header {
    margin-left: 50px;
    margin-top: 80px;
}

.formcontainer, .footer {
    margin: 50px;
}



form {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 50px;

}

label {
    display: block;
}

form > div {
    border: 1px solid black;
}

input {
    width: 200px;
}

button {
    background-color: #b4a979;
    width: 180px;
    height: 50px;
    border-radius: 6px;
    font-weight: 700;
}